    body {
        font-family: 'Nunito', sans-serif;
        color: black;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header {
        width: 100%;
        background-color: ;
        height: 150px;
        background-size: 100%;
    }

    #navbar {
        height: 40px;
        background-color: ;
        /* navbar color */
        width: 100%;
        margin-bottom: 5px;
    }

    main {
        background-color: ;
        padding: none;
        max-width: 600px;
        min-width: 600px;
        min-height: 400px;
        background-position: center;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        color: white;
        border: 1px solid #ffffff;
        font-size: 10px;
    }

    footer {
        background-color: ;
        width: 100%;
        height: 40px;
        padding: 10px;
        padding-right: 50px;
        text-align: right;
        font-size: 13px;
        font-family: 'pgothic';
    }

    #topBar {
        width: 100%;
        height: 30px;
        font-size: smaller;
        background-color: #ffffff;
    }

    .argh {
          display: flex;
          justify-content: space-between;
          align-items: center;
    }

    .argh1 {
        text-align: center;
        width: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .argh2 {
        text-align: center;
        width: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        padding: 10px;
        border: none;
    }
    
    .argh2 h3 {
        margin-top: 0;
    }

    .argh2 ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #e3e3e3;
        background: #3a3a3a;
    }
    
    .argh2 li {
        padding: 6px 10px;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .argh2 li:last-child {
        border-bottom: none;
    }