    body {
        font-family: 'Nunito', sans-serif;
        background-size: 65px;
        color: black;
        color: black;
        background-color: #000000;
        background-size: 200px;
        background-position: center;
        justify-content: center;
        align-items: center;
        margin: 50%;
    }

    #header {
        width: 100%;
        background-color: ;
        height: 150px;
        background-size: 100%;
    }

    #navbar {
        height: 40px;
        background-color: ;
        /* navbar color */
        width: 100%;
        margin-bottom: 5px;
    }

    main {
        background-color: ;
        padding: 10px;
        max-width: 600px;
        height: 300px;
        background-position: center;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        color: white;
        border: 3px solid #ffffff;
        font-size: 12px;
    }

    footer {
        background-color: ;
        width: 100%;
        height: 40px;
        padding: 10px;
        padding-right: 50px;
        text-align: right;
        font-size: 13px;
        font-family: 'pgothic';
    }

    #topBar {
        width: 100%;
        height: 30px;
        font-size: smaller;
        background-color: #ffffff;
    }