    /* change these van */
    :root {
        /* colors */
        --bg-color: #ededed;
        --main-bg: #ffffff;
        --lighter-bg: #ffffff;
        --border1: #777;
        --text-color: #000000;

        /* text */
        --body-font: 'Roboto', sans-serif;
        --heading-font: 'pgothic', sans-serif;
        --large-font-size: 40px;
        --base-font-size: 16x;
        --small-font-size: 12px;
        --ul-font-size: 20px;
        --nav-button-font-size: 20px;
        --footer-font-size: 12px;

        /* layout stuff */
        --main-width: 894px;
        --main-height: 1000px;
        --horizontal-padding: 15px;
        --vertical-padding: 15px;
        --ul-width: 300px;
        --navbar-height: 25px;
        --navbar-width: 200px;
        --nav-button-padding: 5;
        --nav-button-radius: 0px;
        --footer-padding: 10px;
    }

    html {
        background-color: var(--bg-color);
    }

    body {
        font-family: var(--body-font);
        color: var(--text-color);
        background-color: var(--bg-color);
        padding: 0;
        margin: 0 auto;
        font-size: var(--base-font-size);
    }

    main {
        background-color: var(--main-bg);
        background-color: var(--main-bg);
        background-position: center;
        max-width: var(--main-width);
        min-width: var(--main-width);
        min-height: var(--main-height);
        border-top: 1px solid var(--border1);
        border-right: 1px solid var(--border1);
        border-bottom: 1px solid var(--border1);
        border-left: 1px solid var(--border1);
        padding-top: var(--vertical-padding);
        padding-bottom: var(--vertical-padding);
        padding-left: var(--horizontal-padding);
        padding-right: var(--horizontal-padding);
        position: relative;
        margin: 100px;
        box-shadow: 2px 2px 95%, black
    }

    footer {
        border-top: 1px solid var(--border1);
        min-width: var(--main-width);
        text-align: left;
        font-size: var(--footer-font-size);
        font-family: var(--heading-font);
        color: var(--text-color);
        position: absolute;
        padding-top: var(--footer-padding);
        bottom: var(--footer-padding);
        left: var(--horizontal-padding);
    }

    .title {
        font-family: var(--heading-font);
        font-size: 20px;
        text-align: left;
        margin-bottom: 15px;
    }

    .seperator {
        font-family: var(--heading-font);
        font-size: 20px;
        text-align: left;
        border-bottom: 1px dashed var(#777)
    }

    .argh {
        display: flex;
        justify-content: right;
        align-items: right;
        height: 100%;
    }

    .argh1 {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: var(--large-font-size)
    }

    .argh2 {
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        border: none;
    }

    .argh2 h3 {
        margin-left: 2px;
        margin-bottom: 4px;
        text-align: left;
    }

    .argh2 ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: var(--lighter-bg);
        width: var(--ul-width);
        font-size: var(--ul-font-size);
        box-sizing: border-box;
        text-align: right;
    }

    .argh2 li {
        padding: 6px;
        text-align: center;
        border-top: 1px solid var(--border1);
        border-right: 1px solid var(--border1);
        border-bottom: 1px solid var(--border1);
        border-left: 1px solid var(--border1);
    }

    #navbar ul {
        list-style: none;
        padding: 0;
        margin-left: -28x;
        margin-right: -28x;
        gap: var(--horizontal-padding);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-button {
        transition: transform 0.12s ease, box-shadow 0.12s ease;
        display: inline-flex;
        align-items: center;
        text-align: center;
        gap: 25px;
        padding: var(--nav-button-padding);
        justify-content: center;
        color: var(--text-color);
        text-decoration: none;
        border-top: 1px solid var(--border1);
        border-right: 1px solid var(--border1);
        border-bottom: 1px solid var(--border1);
        border-left: 1px solid var(--border1);
        background: var(--lighter-bg);
        border-radius: var(--nav-button-radius);
        font-size: var(--nav-button-font-size);
        box-sizing: border-box;
        min-height: var(--navbar-height);
        max-height: var(--navbar-height);
        min-width: var(--navbar-width);
        max-width: var(--navbar-width);
    }

    .nav-button:hover {
        border-top: 1px solid color-mix(in srgb, var(--border1) 95%, black);
        border-right: 1px solid color-mix(in srgb, var(--border1) 95%, black);
        border-bottom: 1px solid color-mix(in srgb, var(--border1) 95%, black);
        border-left: 1px solid color-mix(in srgb, var(--border1) 95%, black);
        background: color-mix(in srgb, var(--lighter-bg) 95%, black);
        color: color-mix(in srgb, var(--text-color) 95%, black);
    }

    .nav-button:active {
        transform: translate(1px, 1px);
        border-top: 1px solid color-mix(in srgb, var(--border1) 90%, black);
        border-right: 1px solid color-mix(in srgb, var(--border1) 90%, black);
        border-bottom: 1px solid color-mix(in srgb, var(--border1) 90%, black);
        border-left: 1px solid color-mix(in srgb, var(--border1) 90%, black);
        background: color-mix(in srgb, var(--lighter-bg) 90%, black);
        color: color-mix(in srgb, var(--text-color) 90%, black);
    }

    .bg-main {
        background-color: var(--main-bg);
    }

    .bg-muted {
        background-color: var(--lighter-bg);
    }

    .text-accent {
        color: var(--border1);
    }

    .text-primary {
        color: var(--text-color);
    }

    .fs-base {
        font-size: var(--base-font-size);
    }

    .fs-small {
        font-size: var(--small-font-size);
    }

    .measure-60 {
        max-width: 60rem;
    }

    .container {
        width: 100%;
    }

    .mb0 {
        margin-bottom: 0;
    }

    .mb1 {
        margin-bottom: .25rem;
    }

    .mb2 {
        margin-bottom: .5rem;
    }

    .mb3 {
        margin-bottom: 1rem;
    }

    .mb4 {
        margin-bottom: 2rem;
    }

    .mt0 {
        margin-top: 0;
    }

    .mt1 {
        margin-top: .25rem;
    }

    .mt2 {
        margin-top: .5rem;
    }

    .mt3 {
        margin-top: 1rem;
    }

    .mr-2 {
        margin-right: .4rem!important;
    }

    .pb0 {
        padding-bottom: 0;
    }

    .pt0 {
        padding-top: 0
    }

    .hr {
        overflow: visible;
        box-sizing: content-box;
        height: 0;
    }

    .hr {
        overflow: visible;
        height: 1px;
        margin: .5rem 0 .5rem;
        color: #333;
        border: none;
        border-top: 1px dashed #000;
    }

    .hr.solid {
        border-top: none;
        border-bottom: 1px solid #000
    }

    .hr.solid-header {
        border: none;
    }

    .mh1 {
        height: 1rem;
        max-height: 1rem;
    }

    .bdp-gray { 
        background: radial-gradient(#777 .5px,#ffffff00 1px) 0 0/3px 3px,var(--main-bg)
    }

    .line {
        height: 1px;
        margin: .5rem 0 .5rem;
        color: #333;
        border: none;
        border-top: 1px dashed #000000;
    }

    .line.solid {
        border-top: none;
        border-bottom: 1px solid #333;
    }

    .line.solid-header {
        border: none
    }

    .column {
        max-width: 100%;
        padding-right: .4rem;
        padding-left: .4rem;
        -ms-flex: 1;
        flex: 1;
    }

    .columns {
        display: -ms-flexbox;
        display: flex;
        margin-right: -.4rem;
        margin-left: -.4rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .col-1 {
        width: 8.3333333%
    }

    .col-2 {
        width: 16.66666667%;
    }

    .col-3 {
        width: 25%
    }

    .col-6 {
        width: 50%
    }

    .col-9 {
        width: 75%
    }

    .col-12 {
        width: 100%;
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-12 {
        width: 100%;
    }

    .btn-classic {
        font-family: 'Courier New', Courier, monospace;
        line-height: 1.5rem;
        position: relative;
        top: -2px;
        display: inline-block;
        height: 1.75rem;
        padding: .1rem .5rem 0;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        vertical-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #000;
        border: .1rem solid #000;
        border-radius: 0;
        outline: 0;
        background: #fff;
        box-shadow: 2px 2px #bbb;
        -webkit-appearance: none;
        appearance: none;
        fill: #000
    }

    .btn-classic:focus,
    .btn-classic:hover {
        text-decoration: none;
        color: #fff;
        border-color: #000;
        background: #000;
        fill: #fff
    }

    .btn-classic.active,
    .btn-classiv:active {
        text-decoration: none;
        color: #fff;
        border-color: #000;
        background: #000
    }

    .btn-classic.disabled,
    .btn-classic:disabled,
    .btn-classic[disabled] {
        cursor: default;
        pointer-events: none;
        opacity: .5
    }

    .btn-classic.btn-primary {
        color: #fff;
        border-color: #000;
        background: #000;
    }

    .btn-classic.btn-primary:focus,
    .btn-classic.btn-primary:active {
        color: #fff;
        border-color: #000;
        background: #000;
    }

    .btn-classic.btn-primary.active,
    .btn-classic.btn-primary:active {
        color: #fff;
        border-color: #000;
        background: #000;
    }

    .btn-nav-container {
        margin: 0;
        padding: 0;
    }

    .btn-nav {
        font-family: 'Univers LT Pro',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1rem;
        position: relative;
        top: -.125rem;
        display: inline-block;
        height: 1.5rem;
        margin-right: .5rem;
        padding: .25rem 0 .05rem 0;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        text-decoration: none;
        border: .1rem solid #000;
        outline: 0;
        box-shadow: 2px 2px #bbb;
        -webkit-appearance: none;
        appearance: none
    }

    .btn-nav:focus {
        box-shadow: 0 0 0 .1rem rgba(0,0,0,.2)
    }

    .btn-nav:focus,.btn-nav:hover {
        text-decoration: none;
        color: #fff;
        border-color: #000;
        background: #000;
        fill: #fff
    }

    .btn-nav.active,.btn-nav:active {
        text-decoration: none;
        color: #000;
        background: #fff
    }

    .btn-nav.active.loading::after,.btn-nav:active.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff
    }

    .btn-nav.disabled,.btn-nav:disabled,.btn-nav[disabled] {
        cursor: default;
        pointer-events: none;
        opacity: .5
    }

    .btn-nav.center {
    padding: .05rem 0 .05rem .05rem
    }

    .btn-nav.round {
    border-radius: .75rem
    }

    .btn-nav.oval {
    border-radius: 50%
    }

    .btn-nav.roundtl {
    border-radius: .75rem 0 0 0
    }

    .btn-nav.roundbr {
    border-radius: 0 0 .75rem 0
    }

    .btn-nav.circle {
    width: 3rem;
    height: 3rem;
    padding-top: .85rem;
    border-radius: 50%
    }

    .nav {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin: .2rem 0;
        list-style: none;
        -ms-flex-direction: column
    }

    .nav-active-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        border-radius: 6px;
        background: #ff4136
    }

    .nav .nav {
        margin-bottom: .4rem
    }

    .nav .nav-item a {
            padding: .2rem .4rem;
        text-decoration: none;
        color: #696d75
    }

    .nav .nav-item a:focus,.nav .nav-item a:hover {
        color: #000
    }

    .nav .nav-item.active>a {
        font-weight: 600;
        color: #51545a
    }

    .nav .nav-item.active>a:focus,.nav .nav-item.active>a:hover {
        color: #000
    }

    .black {
        color: #000;
        fill: #000;
    }

    .bg-gold {
        background: #ffb700
    }

    .white {
        background: #fff;
    }

    .bg-white {
        background: #fff
    }

    .b--white {
        border-color: #fff;
    }

    .moon-gray {
        color: #ccc;
        fill: #ccc;
    }

    .b--moon-gray {
        border-color: #ccc;
    }

    .silver {
        color: #999;
        fill: #999;
    }

    .bg-silver {
        background: #999;
    }

    .bg-dark-green {
        background: #00794c;
    }

    .dark-green {
        color: #00794c;
        fill: #00794c;
    }

    .text-condensed {
        font-stretch: condensed;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .align-right {
        text-align: right;
    }

    .align-left {
        text-align: left;
    }

    .no-decoration {
        text-decoration: none
    }

    .no-decoration:active,.no-decoration:focus,.no-decoration:hover {
        text-decoration: none 
    }

    .sku {
        font-family:'Courier New', Courier, monospace;
        font-weight: 400;
        font-style: normal;
        line-height: 1.2rem;
        padding-right: .2rem;
        padding-left: .3rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        border: 1px dotted #000
    }

    .table {
        font-size: : 1rem;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        text-align: left;
        border-top: 2px dotted #ddd;
        box-shadow: 2px 2px #ddd
    }

    .table td {
        line-height: 1.4rem;
        overflow: hidden;
        height: 1.85rem;
        padding: .2rem .4rem 0;
        text-overflow: ellipsis;
        border: .1rem solid #bfbfbf;
    }

    .table td.fill {
        padding: 0;
    }


    .table-light-silver {
        border-left: 4px solid #aaa
    }

    .table tbody th {
        border: .1rem solid #bfbfbf
    }

    .tr {
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
    }

    .td {
        display: : table-cell;
        vertical-align: inherit;
        unicode-bidi: isolate;
    }

    .blockquote {
        margin-right: 0;
        margin-left: 0;
        padding: .4rem .8rem;
        border-left: .1rem solid #000
    }

    .blockquote p:last-child {
        margin-bottom: 0;
    }

    .p-centered {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    
    .ol,ul {
        margin: .4rem 0 .4rem 1.6rem;
        padding: 0
    }

    .ul {
        list-style: disc outside;
    }

    .ul ul {
        list-style-type: circle;
    }

    .ol {
        list-style: decimal outside;
    }

    .ol ol {
        list-style-type: lower-alpha
    }

    .w100 {
        width: 100%
    }

    .h100 {
        min-height: 100%
    }

    h1 {
        margin-bottom: 2rem
    }

    h3 {
        font-weight: 400;
        font-style: normal;
        text-decoration: underline
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Univers LT Pro',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: .5em;
        color: inherit
    }

    p {
        line-height: 1.5rem;
        margin: 0 0 1.2rem
    }

    a,ins,u {
        text-decoration: underline
    }

    p a {
        text-decoration: underline
    }

    abbr[title] {
        cursor: help;
        text-decoration: none;
        border-bottom: .1rem dotted
    }

    .table {
        font-size: 1rem;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        text-align: left;
        border-top: 2px dotted #ddd;
        box-shadow: 2px 2px #ddd
    }

    .table.table-striped tbody tr:nth-of-type(odd) {
        background: rgba(0,0,0,.05)
    }

    .table tbody tr.active,.table.table-striped tbody tr.active {
        background: rgba(0,0,0,.1)
    }

    .table.table-hover tbody tr:hover {
        background: #e6e6e6
    }

    .table.table-scroll {
        display: block;
        overflow-x: auto;
        padding-bottom: .5rem;
        white-space: nowrap
    }

    .table td {
        line-height: 1.4rem;
        overflow: hidden;
        height: 1.85rem;
        padding: .2rem .4rem 0;
        text-overflow: ellipsis;
        border: .1rem solid #bfbfbf
    }

    .table td.fill {
        padding: 0
    }

